.cart-component {
  padding: 20px;
  border-radius: 0.25rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  background-color: #f8f9fa;
}

.cart-dropdown {
  width: 800px;
}
.cart-item-component {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 1rem;
  padding: 10px;
  border: 1px solid #dee2e6;
  border-radius: 0.25rem;
  background-color: #ffffff;
  flex-wrap: nowrap;
}
.colorbutton- {
  background-color: #FF7F7F !important; 
  margin-left:20px;
  margin-right:-10px;
}
.colorbuttonplus {
  background-color: #20B2AA !important; 
  margin-left:-10px;
}

.cart-item-component p.product-name {
  margin: 0;
  font-weight: 500;
  max-width: 200px;
  white-space: normal;
  word-wrap: break-word;
  flex: 1 1 auto;
}
.button-container {
  align-self: center;
  flex: 1 0 auto;
}

.cart-item-component p {
  margin: 0;
  font-weight: 500;
}

.cart-item-component p:last-child {
  margin-left: auto;
}

.cart-buttons{
  display: flex;
  justify-content: center;
  gap: 20px;
}
.quantity-buttons-cntr {
  align-items: center;
  display: flex;
  justify-content: center;
  gap: 10px;
}
.quantity-buttons-cntr p {
  width: 30px;
  text-align: center;
}

@media (min-width: 1025px) {
    .h-custom {
      height: 100vh !important;
    }
  
    .app-container {
      display: flex;
      justify-content: space-between;
    }
  
    .app-container .cart-container {
      width: 30%;
      padding: 20px;
      border-left: 1px solid #ccc;
      cursor: pointer;
    }
  }