.navbar {
    background-color: #ffe926;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo {
    height:80px;
    flex: 0 0 auto;
}

.navbar .nav-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex: 0 0 auto;
}

.search-bar-container {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-grow: 1;
    margin-top: 10px;
    margin-right: 10px;
}

.input-group {
    position: relative;
    flex: 1;
}

.search-input {
    flex: 1 1 auto;
    max-height: 100px;
    overflow: auto;
}

.search-bar {
    max-height:150px;
    flex: 1 1 auto;
}

.navbar .iniciar-sesion {
    margin-right: 25px;
    margin-top: 20px;
}

.navbar .cart-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    position: relative;

}

.navbar .user {
    height: 30px;
    width: 30px;
}

@media (max-width: 600px) {
    .navbar .logo {
        height: 30px;
    }
    .navbar .iniciar-sesion {
        font-size: 10px;
        margin-right: 15px;
        margin-top: 20px;
        
    }
    .navbar .search-bar-container  {
        flex: 1 0 auto;
    max-height: 100px;
    overflow: auto;
    }
}
.cart-dropdown {
    width: 800px; 
    height: 400px;
    position: absolute;
    top: 100%; 
    right: 0;
    background: #fff;
    padding: 10px;
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    z-index: 1000;
}
