.navbar {
    background-color: #ffe926;
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo {
    height:80px;
}

.navbar .nav-buttons {
    display: flex;
    align-items: center;
    justify-content: flex-end; /* Alinea los botones a la derecha */
    flex: 1; /* Hace que los botones ocupen todo el espacio restante a la derecha del logo */
}

.navbar .iniciar-sesion {
    margin-right: 20px;
    margin-top: 20px;
    margin-left: 20px;
}

.navbar .cart-container {
    display: flex;
    align-items: center;
}

@media (max-width: 600px) {
    .navbar .logo {
        height: 30px;
    }
    .navbar .iniciar-sesion {
        font-size: 10px;
        margin-right: 15px;
        margin-top: 20px;
    }
}