.carousel .d-block {
    max-height: 500px;
    width: auto;
    margin: auto;
}

.carousel {
    max-width: 500px;
    margin: auto;
}

.custom-caption {
    font-size: 20px;
    color: red;
}

.product-description {
    position: relative;
    font-size: 14px;
}

.custom-carousel .carousel-item {
    display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  }
  
  .custom-carousel .custom-image {
    display: flex;
  align-items: center;
  justify-content: center;
  height: 60%;
  width: 60%;
  object-fit: cover;
  margin: auto;
  }

  @media (max-width: 576px) {
    .custom-carousel .carousel-item {
      height: 200px;
      width: 100%;
    }
  }
  

  @media (min-width: 577px) and (max-width: 768px) {
    .custom-carousel .carousel-item {
      height: 300px;
      width: 100%;
    }
  }

  @media (min-width: 769px) {
    .custom-carousel .carousel-item {
      height: 400px;
      width: 100%;
    }
  }