.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
} 

.login-container h2 {
    margin-bottom: 3rem;
}

.login-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 300px;
}

.login-form label {
    margin-bottom: 1rem;
    width: 100%;
}

.login-form .form-control {
    margin-bottom: 1rem;
}
