.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.search-bar {
  width: 80%;
  margin-bottom: 2rem;
}

.product-table-container {
  width: 80%;
}